.layout{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #777;
}

.cabecalho a{
    background-color: crimson;
    text-decoration: none;
    padding: 5px 12px;
    border-radius: 5px;
    color: #fff;
    font-size: 30px;
}


.conteudo{
    padding: 25px;
    height: 100%;
}